<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SPI_AOI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SPI_AOI.Properties.Settings>
            <setting name="DPI_DEFAULT" serializeAs="String">
                <value>785.6</value>
            </setting>
            <setting name="FOV" serializeAs="String">
                <value>1400, 1200</value>
            </setting>
            <setting name="PLC_IP" serializeAs="String">
                <value>192.168.3.100</value>
            </setting>
            <setting name="PLC_PORT" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="SCANER_COM" serializeAs="String">
                <value>COM6</value>
            </setting>
            <setting name="PLC_REG_PASSWORD" serializeAs="String">
                <value>D0</value>
            </setting>
            <setting name="RUNNING_MODE" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="USER_LOGIN" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="DPI_SCALE" serializeAs="String">
                <value>3.636363636363</value>
            </setting>
            <setting name="THICKNESS_DEFAULT" serializeAs="String">
                <value>1.65</value>
            </setting>
            <setting name="SCALE_PULSE_X" serializeAs="String">
                <value>0.015214561</value>
            </setting>
            <setting name="SCALE_PULSE_Y" serializeAs="String">
                <value>0.015214561</value>
            </setting>
            <setting name="CAMERA_X_AXIS_ANGLE" serializeAs="String">
                <value>0.45011422</value>
            </setting>
            <setting name="XY_AXIS_ANGLE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CAMERA_SETUP_EXPOSURE_TIME" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="CAMERA_MATRIX_FILE" serializeAs="String">
                <value>..\..\..\..\Calibrate\matrix.txt</value>
            </setting>
            <setting name="CAMERA_DISTCOEFFS_FILE" serializeAs="String">
                <value>..\..\..\..\Calibrate\dis.txt</value>
            </setting>
            <setting name="IMAGE_SIZE" serializeAs="String">
                <value>2448, 2048</value>
            </setting>
            <setting name="SAVE_IMAGE_PATH" serializeAs="String">
                <value>D:\Save</value>
            </setting>
            <setting name="SAVE_IMAGE_HOURS" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="LIGHT_MODE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CAMERA_GAIN" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CAMERA_VI_EXPOSURE_TIME" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServiceURL" serializeAs="String">
                <value>http://127.0.0.1:812</value>
            </setting>
            <setting name="LIMIT_SHOW_ERROR" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TEST_PATH" serializeAs="String">
                <value>D:\\MyProject\\SPI_Machine\\ForTest\\</value>
            </setting>
            <setting name="PLC_Get_X" serializeAs="String">
                <value>D1000</value>
            </setting>
            <setting name="PLC_Get_Y" serializeAs="String">
                <value>D1002</value>
            </setting>
            <setting name="PLC_BIT_GO_COORDINATES_FINISH" serializeAs="String">
                <value>D1004</value>
            </setting>
            <setting name="PLC_BIT_READY" serializeAs="String">
                <value>M100</value>
            </setting>
            <setting name="PLC_Move_Up" serializeAs="String">
                <value>M300</value>
            </setting>
            <setting name="PLC_Move_Down" serializeAs="String">
                <value>M301</value>
            </setting>
            <setting name="PLC_Move_Left" serializeAs="String">
                <value>M302</value>
            </setting>
            <setting name="PLC_Move_Right" serializeAs="String">
                <value>M303</value>
            </setting>
            <setting name="PLC_Run_Jog" serializeAs="String">
                <value>M316</value>
            </setting>
            <setting name="PLC_JOG_Mode" serializeAs="String">
                <value>S10</value>
            </setting>
            <setting name="PLC_Conveyor_Load" serializeAs="String">
                <value>M40</value>
            </setting>
            <setting name="PLC_Conveyor_Unload" serializeAs="String">
                <value>M41</value>
            </setting>
            <setting name="PLC_Cylinder_Close_Door" serializeAs="String">
                <value>M42</value>
            </setting>
            <setting name="PLC_Cylinder_Left" serializeAs="String">
                <value>M43</value>
            </setting>
            <setting name="PLC_Cylinder_Right" serializeAs="String">
                <value>M45</value>
            </setting>
            <setting name="PLC_Cylinder_Measure" serializeAs="String">
                <value>M44</value>
            </setting>
            <setting name="PLC_Ready_Main" serializeAs="String">
                <value />
            </setting>
            <setting name="PLC_Run_XY" serializeAs="String">
                <value />
            </setting>
            <setting name="PLC_Finish_Run_XY" serializeAs="String">
                <value />
            </setting>
            <setting name="PLC_Finish_Capture" serializeAs="String">
                <value />
            </setting>
            <setting name="PLC_Finish_Measure" serializeAs="String">
                <value />
            </setting>
            <setting name="PLC_Set_X" serializeAs="String">
                <value />
            </setting>
            <setting name="PLC_Set_Y" serializeAs="String">
                <value />
            </setting>
            <setting name="PLC_Speed_Main_Y" serializeAs="String">
                <value />
            </setting>
            <setting name="PLC_Speed_Main_X" serializeAs="String">
                <value />
            </setting>
            <setting name="PULSE_X_PER_PIXEL_DEFAULT" serializeAs="String">
                <value>3.230980752</value>
            </setting>
            <setting name="PULSE_Y_PER_PIXEL_DEFAULT" serializeAs="String">
                <value>3.23752057</value>
            </setting>
            <setting name="PLC_Speed_Jog_XY" serializeAs="String">
                <value>D202</value>
            </setting>
        </SPI_AOI.Properties.Settings>
    </userSettings>
</configuration>